.home__page{
    background-color: #FFFFFF;
    flex-direction: column;
    height: 100vh;
}

.homepage_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:20px 30px;

  }

  .homepage_header>a{
    text-decoration: none;
    margin-right: 20px;
    color:gray;
    font-size: 10px;
  }

  .header_icon{
    margin-right: 20px;
    object-fit: contain;
    height: 40px !important

  }

  .homepage_body{
    flex:1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
 
  }

  .homepage_body>img{
    object-fit: contain;
    height: 100px;
  }

  @media (max-width:700px){

  }
    

@media (max-width:400px){

}
  